body {
    background-color: darkorange;
}

h1 {
    color: white;
    font-family:'franklin gothic';
    font-size: 60px;
    background-color: #686868;
    text-align: center
    
        
}

p {
    font-size: 20px;
}

.index-h2 {
        color: white;
        font-family: 'franklin gothic';
        font-size: 40px
}

